<footer>
    <div class="footer-bar" [ngStyle]="{'background-color':dynamiccolor}">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 mt-5"style="text-align: center;">
                    <img class="mt-5"src="../../assets/images/ckslogo.png" >
                </div>

                <div class="col-sm-3"style="text-align: left;">
                    <h3 style="text-align: left;">Unique selling point</h3>
                    <li>Integrity</li> 
                    <li>Responsiveness</li>
                    <li> Measurable results</li>
                    <li>Easily Approachable</li>  
                    <li>Complete business solutions</li>    
                </div>
                <div class="col-sm-3">
                    <h3 style="text-align: left;">Services</h3>
                    <li style="text-align: left;">E-commerce & Web Development</li>
                        <li style="text-align: left;">Mobile App Development</li>
                        <li style="text-align: left;">Digital Marketing</li>
                </div>
                <div class="col-sm-3" style="text-align: left;">
                    <h6 style="text-align: left;"><i class="fas fa-map-marker-alt"></i>
                        379A, 4th Floor, K.P Road,<br> Nagercoil-629001, KanyaKumari<br> District, Tamilnadu, India.<br>
                        Email: contact@ckssolutions.co.in<br>Phone: +91 9498029898</h6>
                    <i class="fa fa-facebook-square fa-2x"></i>
                    <i class="fa fa-linkedin-square fa-2x"></i>
                    <i class="fa fa-twitter-square fa-2x"></i>
                    <i class="fa fa-instagram fa-2x"></i>
                </div>
            </div>
        </div>
    </div>
    <footer class="copyright pull-left">
        <h6 style="color: #fff;">Copyright2021 © CKS Solutions</h6>
    </footer>
</footer>
