<footer>
    <div class="footer-bar" [ngStyle]="{'background-color':dynamiccolor}">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 mt-5"style="text-align: center;">
                    <img class="mt-5"src="../../assets/images/ckslogo.png" >
                </div>

                <div class="col-sm-3"style="text-align: left;">
                    <h6 style="text-align: left;"><i class="fas fa-map-marker-alt"></i>
                        379A, 4th Floor, K.P Road,<br> Nagercoil-629001, KanyaKumari<br> District, Tamilnadu, India.</h6>   
                </div>
                <div class="col-sm-3">
                    
                    <h6>Email: contact@ckssolutions.co.in<br>Phone: +91 9498029898</h6>
                </div>
                <div class="col-sm-3" style="text-align: left;">
                   <h6></h6>
                    <i class="fa fa-facebook-square fa-2x"></i>
                    <i class="fa fa-linkedin-square fa-2x"></i>
                    <i class="fa fa-twitter-square fa-2x"></i>
                    <i class="fa fa-instagram fa-2x"></i>
                </div>
            </div>
        </div>
    </div>
    <footer class="copyright pull-left">
        <h6 style="color: #fff;">Copyright2021 © CKS Solutions</h6>
    </footer>
</footer>
