<nav class="main-menu" id="icon_wrapper">
  <div class="logo">
    <a href="" class="simple-text">
    </a>
  </div>
  <ul>
    <li class="has-subnav">
      <a routerLink="/itservice">
        <i class="fa fa-group fa-2x"></i>
        <span class="nav-text" style="color: #fff;background-color:#25536a">
          IT Service
        </span>
      </a>

    </li>
    <li class="has-subnav"(click)="options()">
      <a >
        <i class="fa fa-laptop fa-2x"></i>
        <span class="nav-text" style="color: #fff;background-color:#ffc727 ;">
          Career In
        </span>
      </a>
    </li>
    <li class="has-subnav">
      <a routerLink="/consulting">
        <i class="fa fa-handshake-o" aria-hidden="true"></i>
        <span class="nav-text" style="color: #fff;background-color: #79a85a;">
         IT Consulting
        </span>
      </a>
    </li>

    <li class="profileSideBar has-subnav dropdown">
      <a routerLink="/devapps">
        <i class="fa fa-cloud" aria-hidden="true"></i>
        <span class="nav-text" style="color: #fff;background-color: #a85a96;">
          DevAPPS
        </span>
      </a>
    </li>
  </ul>
  <div class="menu-bg" [ngStyle]="{'background-color':backgroundtop}"></div>
</nav>