 <div id="app" class="flex-container">
    <a routerLink="/itservice"  routerLinkActive="active" id="itserviceid" class="flex-item">
        <div  id="cksitservice">
        <h1><font  class="designit">IT</font>services</h1>
        <p>We are provide best IT service</p>   
    </div>
    <div  id="cksitservicehover">
        <h1 id="headhover" >IT Services</h1>
        <p id="parahover">We are provide best IT service</p> 
       <input id="clickbutton1" type="button" name="Explore" value="Explore"> 
    </div></a>
    <a href="https://careerin.co.in/" target="_blank" class="flex-item" id="ckscareerin"><div id="ckscareer">
        <h1>Career<font class="designin">IN</font></h1>
        <p>We thrive in creating knowledge society</p>        
    </div>
    <div  id="ckscareerinhover">
        <h1 id="headhover" >CareerIN</h1>
        <p id="parahover">We are creating knowledge society</p> 
       <input id="clickbutton2" type="button" name="Explore" value="Explore"> 
    </div></a>
    <a routerLink="/consulting"  class="flex-item" id="cksconsulting"><div id="cksconsult">
        <h1><font class="designc">C</font>onsulting</h1>
     <p>Be as good with business as you are with creating</p>     
    </div>
    <div  id="cksconsultinghover">
        <h1 id="headhover" >Consulting</h1>
        <p id="parahover">We are provide best business service</p> 
       <input id="clickbutton3" type="button" name="Explore" value="Explore"> 
    </div></a>
    <a routerLink="/devapps" class="flex-item"id="devopsid"><div id="cksdevapps">
        <h1>Dev<font class="designapps">APPS</font></h1>
        <p>Provides an executive-level overview of performance</p>  
    </div>
    <div  id="cksdevopshover">
        <h1 id="headhover" >DevAPPS</h1>
        <p id="parahover">We are provide best IT service</p> 
       <input id="clickbutton4" type="button" name="Explore" value="Explore"> 
    </div></a>
    <div class="ckslogo" id="logo">
        <h1>Heading</h1>
            <div class="logo-image">
                <img src="../../assets/images/ckslogo.png" id="imgsrc" alt="">
            </div>
    </div>
  </div>
  <app-menu></app-menu>