<div class="navbar" id="navbar">
  <a routerLink="">Home</a>
    <a routerLink="/about">About Us</a>
    <a routerLink="/career">Career</a>
    <a routerLink="/gallery">Gallery</a>
    <a routerLink="/blog">Blog</a>
    <a routerLink="/contact">Contact Us</a>
     <a href="javascript:void(0);" style="font-size:15px;color: white;" class="icon" onclick="openNav()"><i class="fa fa-bars" aria-hidden="true"></i></a>  
  </div>
  <div id="myNav" class="overlay">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <div class="overlay-content">
    <a routerLink="">Home</a>
    <a routerLink="/about">About Us</a>
    <a routerLink="/career">Career</a>
    <a routerLink="/gallery">Gallery</a>
    <a routerLink="/blog">Blog</a>
    <a routerLink="/contact">Contact Us</a>
    </div>
  </div>
