<app-sidemenu></app-sidemenu>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6" style="background:#ced1d2;"style="background-image: url('../../assets/images/consultinghover.png'); background-position: center;background-size: cover;">
            <!-- <img src="../../assets/images/consultinghover.png" class="img-fluid" alt="Responsive image"> -->
            <h1 class="pull-right display-3 mt-3" id="headmobile" style="color: #79a85a;">IT</h1>
            <h1 class="my-5 py-5 display-1 text-center" id="headdesk" style="color: #79a85a;">IT Consulting</h1>
        </div>
        <div class="col-sm-6" style="background:#79a85a;">
            <h1 class="pull-left display-3 mt-3" style="color:#e0e3e4;" id="headmobile">Consulting</h1>
            <div class="leaddiv">
                <p class="lead">Get 1-on-1 coaching, virtual training, and talks to help you be a digital designer who
                    thinks and leads like a CEO. </p>
            </div>
        </div>
    </div>
</div>

<div class="container" style="padding-bottom:5%;padding-top: 5%;">
    <div class="row">
        <div class="col-sm-4 justify-content-center">
            <div class="small-4 medium-4 large-4 columns text-center">
                <i class="fa fa-building fa-lg" aria-hidden="true" style="color: #79a85a;
                font-size: 72px;padding: 2px;"></i>
            </div>
            <h2 style="text-align: center; font-size:25px;padding-top: 17px;color: #79a85a;">IT Consulting Service</h2>
            <p style="text-align: justify; font-size:15px;">Technology consultants, also known as IT, ICT, or digital
                consultants, focus on helping clients with the development and application of Information Technology
                (IT) within their organisation. IT consultants focus on transitions (projects) in the ICT-landscape,
                contrary to regular IT-employees, who work on day-to-day IT operations.</p>
        </div>
        <div class="col-sm-4 justify-content-center">
            <div class="small-4 medium-4 large-4 columns text-center">
                <i class="fa fa-group fa-lg" aria-hidden="true" style="color: #79a85a;
                font-size: 72px;padding: 2px;"></i>
            </div>
            <h2 style="text-align: center; font-size:25px;padding-top: 17px;color: #79a85a;">Human Resource Consulting</h2>
            <p style="text-align: justify; font-size:15px;">HR consultants help clients with human capital questions
                within their organisations and / or with improving the performance of the HR department. Chief topics
                central to the job description of HR consultants are, among others, organisational changes, change
                management, terms of employment, learning & development, talent management and retirement.</p>
        </div>
        <div class="col-sm-4 justify-content-center">
            <div class="small-4 medium-4 large-4 columns text-center">
                <i class="fa fa-user fa-lg" aria-hidden="true" style="color: #79a85a;
                font-size: 72px;padding: 2px;"></i>
            </div>
            <h2 style="text-align: center; font-size:25px;padding-top: 17px;color: #79a85a;">Management Consulting</h2>
            <p style="text-align: justify; font-size:15px;">Management consultants, also known as business consultants
                or organisational advisors in practice, are consultants who focus on all sorts of organisational
                concerns, from strategy to a variety of elements within management. In the methodology upheld by Kennedy
                as well as Consultancy.</p>
        </div>
    </div>
    
    <div class="row mt-5">
        <div class="col-sm-4 justify-content-center">
            <div class="small-4 medium-4 large-4 columns text-center">
                <i class="fa fa-bar-chart fa-lg" aria-hidden="true" style="color: #79a85a;
                font-size: 72px;padding: 2px;"></i>
            </div>
            <h2 style="text-align: center; font-size:25px;padding-top: 17px;color: #79a85a;">Business Analyticts</h2>
            <p style="text-align: justify; font-size:15px;">Before business analytics became the version we know today,
                businessmen had to make do with error-ridden analytic models which also potentially damaged their plans.
                Since there was no constructive way to initialize organized data extraction, earlier versions of
                analytics did not work well for its first generation of users. Traditional analytics teams had to dig
                hard and deep whenever they tried to gather information about their consumers</p>
        </div>
        <div class="col-sm-4 justify-content-center">
            <div class="small-4 medium-4 large-4 columns text-center">
                <i class="fa fa-group fa-lg" aria-hidden="true" style="color: #79a85a;
                font-size: 72px;padding: 2px;"></i>
            </div>
            <h2 style="text-align: center; font-size:25px;padding-top: 17px;color: #79a85a;">Project Outsourcing</h2>
            <p style="text-align: justify; font-size:15px;">We provides you the option of leveraging our global virtual
                teams for all our services regardless of the duration. We have consistently delivered short (3 to 6
                month) to long-term (multi-year) engagements, varying from full-cycle, turn-key projects to existing
                application enhancements with controlled new version releases to reengineering projects successfully</p>
        </div>
        <div class="col-sm-4 justify-content-center">
            <div class="small-4 medium-4 large-4 columns text-center">
                <i class="fa fa-bullhorn fa-lg" aria-hidden="true" style="color: #79a85a;
                font-size: 72px;padding: 2px;"></i>
            </div>
            <h2 style="text-align: center; font-size:25px;padding-top: 17px;color: #79a85a;">Digital Marketing</h2>
            <p style="text-align: justify; font-size:15px;">It's important to understand that digital marketing doesn't
                only apply to your website! However most of the marketers create a website or an eCommerce and invest in
                SEO and/or AdWords. But to make your business stand out from the crowd, you need a real strategy that
                puts potential customers first and use all the available tools to acquire them.</p>
        </div>
    </div>
</div>
<div class="container">
	<div class="row">
	  <div class="col-sm-12">
		<h1 class="text-center" style="color: #79a85a;">Our Vendor</h1>
		<div style="text-align:center">
		  <div class="my-5" class="imageslider"  style="width: 840px; height: 300px; text-align:center;margin:0; padding:0;">
			<ng-image-slider #nav [images]="data" [infinite]="true" [autoSlide]="1"
			  [imageSize]="{width: '25%', height: 200}" slideImage="1"></ng-image-slider>
		  </div>
		</div>
	  </div>
	</div>
  </div>
<ng-container *ngComponentOutlet="dummyComponent"></ng-container>
<app-menu></app-menu>