<app-sidemenu></app-sidemenu>
<div class="container-fluid" id="joblist">
    <div class="container-fluid banner">
        <div class="banner-text">
            <h1 style="color: white;">Career Details</h1>
        </div>
    </div>
    <div class="container mt-5" id="joblist">
        <div class="row">
            <div class="col-sm-12" style="padding-bottom: 2%;">
                <h1 class="display-3 text-center" id="jobname">Our Job Listings</h1>
            </div>
            <div class="col-sm-12">               
                <div class="col-sm-4">
                    <div class="dropdown" style="padding: 0 7%;">
                        <select style="font-size: 18px;width: 100%;"(change)='onOptionsSelected($event)'>
                            <option>Select All Job Name</option>
                            <option *ngFor="let item of jobdata; let i = index;">{{item.Job_Title}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="dropdown" style="padding: 0 7%;">
                        <select style="font-size: 18px;width: 100%;"(change)='onjobtypeSelected($event)'>
                            <option>Select All Job Type</option>
                            <option>Freelance</option>
                            <option>Full Time</option>
                            <option>Part Time</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="dropdown" style="padding: 0 7%;">
                        <select style="font-size: 18px;width: 100%;"(change)='onOptionsjoblocation($event)'>
                            <option>Select All Job Location</option>                            
                            <option>Work From Home</option>
                            <option>Nagercoil</option>
                            <option>Trivandrum</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-12" style="padding: 3%;">
            <div class="col-sm-4" *ngFor="let job of jobpostdata" id="carditem">
                <a (click)="apply(job.Job_Title)">
                    <div class="card" [ngClass]="job.Job_Priority" id="card">
                        <h1 class="font-weight-bold text-cente">{{job.Job_Title}}</h1>
                        <p class="text-center">{{job.Job_Location}}</p>
                    </div>
                </a>
            </div>
        </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
<app-menu></app-menu>