<app-sidemenu></app-sidemenu>
<div class="container-fluid" id="joblist">
    <div class="banner">
        <div class="banner-text">
            <h1 style="color: white;">{{jobname | uppercase }}</h1>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="header">
                    <h1 style="text-align: center;text-transform: uppercase;">Apply for this position</h1>
                </div>
            </div>
            <div class="col-sm-3 col-md-6 col-lg-6 col-xl-6" style="text-align: left;" >
                <div *ngFor="let job of jobdata">
                <!-- <h1 class="display-3">{{jobname | uppercase }}</h1> -->
                <p class="text-justify" [innerHTML]="job.Job_Description"></p>
                <p [innerHTML]="job.Job_Prefered_Skill"></p>
            </div>
            <div *ngFor="let job of jobdata1">
                <p *ngIf="job.Job_Location"><b>Job Location:</b>{{job.Job_Location}}</p>
                <p *ngIf="job.Job_Type"><b>Job Type:</b>{{job.Job_Type}}</p>
                <p *ngIf="job.Job_Experience"><b>Job Experience:</b>{{job.Job_Experience}}</p>
                <p *ngIf="job.Job_Salary"><b>Job Salary:</b>{{job.Job_Salary}}</p>
            </div>
                    <share-buttons theme="circles-dark"
                    [include]="['facebook','linkedin', 'telegram', 'twitter','whatsapp']"
                    [showIcon]="true" [showText]="false" url="url"
                    description="Angular Share Buttons" twitterAccount="rodrigokamada" class="pt-5">
                </share-buttons>
            </div>
            <div class="col-sm-3 col-md-6 col-lg-6 col-xl-6">
                <div class="card">
                    <form [formGroup]="jobForm" class="form-horizontal" (ngSubmit)="onSubmit()" style="padding:5%;">
                        <div class="form-group">
                            <label for="Input1">Email address</label>
                            <input type="email" formControlName="Email" class="form-control" id="Input1"
                                placeholder="name@example.com">
                        </div>
                        <div class="form-group">
                            <label for="Name1">Name</label>
                            <input type="letter" formControlName="Name" class="form-control" id="Name1"
                                placeholder="Name">
                        </div>
                        <div class="form-group">
                            <label for="phnumber">Phone no</label>
                            <input type="Number" formControlName="Mobile" class="form-control" id="phnumber"
                                placeholder="Number">
                        </div>
                        <div class="form-group">
                            <label for="Select1">Applied position</label>
                            <select formControlName="Position" class="form-control dropdown-primary" id="Select1">
                                <option value="{{name}}" selected>{{jobname}}</option>
                                <!-- <option value="BB">Back End Developer</option>
                        <option value="CC">Automation Testing</option>
                        <option value="DD">Software Engineer</option>
                        <option value="EE">Mobile App Development</option> -->
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="Textarea1">Cover letter</label>
                            <textarea formControlName="Coverletter" class="form-control" id="Textarea1" rows="3"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="File1">Upload CV/Resume </label>
                            <input type="file" formControlName="Resume" class="form-control-file" id="File1"
                                (change)="onSelectFile($event)">
                        </div>
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="Check1">
                            <label class="form-check-label" for="eCheck1">By using this form you agree with the
                                storage and
                                handling of your
                                data by this website. *</label>
                        </div>
                        <button type="submit" class="btn btn-primary" style="font-size: 20px;">Submit</button>
                    </form>
                </div>
                
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
<app-menu></app-menu>