<app-sidemenu></app-sidemenu>
<div class="banner">
  <div class="banner-text">
    <h1 style="color: white;">Gallery</h1>
  </div>
</div>
<div class="main" onload="filterSelection('all')">

  <div id="myBtnContainer" class="col-md-12 text-center">
    <button type="button" class="btn btn-dark" onclick="filterSelection('all')"> Show all</button>
    <button class="btn btn-dark" onclick="filterSelection('nature')"> CKS Fun</button>
    <button class="btn btn-dark" onclick="filterSelection('cars')"> Celebration</button>
    <button class="btn btn-dark" onclick="filterSelection('people')"> Employees Fun</button>
  </div>

  <!-- Portfolio Gallery Grid -->
  <div class="row">
      <div class="col-md-4">
        <div class="column nature">
          <div class="content">
            <img src="../../assets/images/gallery/logo.jpg" alt="Mountains" style="width:100%;height: 300px;">
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="column nature">
          <div class="content">
            <img src="../../assets/images/gallery/image1.jpg" alt="Lights" style="width:100%;height: 300px;">
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="column nature">
          <div class="content">
            <img src="../../assets/images/gallery/image5.jpg" alt="Nature" style="width:100%;height: 300px;">
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="column nature">
          <div class="content">
            <img src="../../assets/images/gallery/image9.jpg" alt="Car" style="width:100%;height: 300px;">
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="column nature">
          <div class="content">
            <img src="../../assets/images/gallery/image10.jpg" alt="Car" style="width:100%;height: 300px;">
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="column nature">
          <div class="content">
            <img src="../../assets/images/gallery/image17.jpg" alt="Car" style="width:100%;height: 300px;">
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="column cars">
          <div class="content">
            <img src="../../assets/images/gallery/image4.jpg" alt="Car" style="width:100%;height: 300px;">
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="column cars">
          <div class="content">
            <img src="../../assets/images/gallery/image12.jpg" alt="Car" style="width:100%;height: 300px;">
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="column cars">
          <div class="content">
            <img src="../../assets/images/gallery/image14.jpg" alt="Car" style="width:100%;height: 300px;">
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="column cars">
          <div class="content">
            <img src="../../assets/images/gallery/image21.jpg" alt="Car" style="width:100%;height: 300px;">
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="column cars">
          <div class="content">
            <img src="../../assets/images/gallery/image22.jpg" alt="Car" style="width:100%;height: 300px;">
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="column cars">
          <div class="content">
            <img src="../../assets/images/gallery/image8.jpg" alt="Car" style="width:100%;height: 300px;">
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="column people">
          <div class="content">
            <img src="../../assets/images/gallery/image7.jpg" alt="Car" style="width:100%;height: 300px;">
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="column people">
          <div class="content">
            <img src="../../assets/images/gallery/image11.jpg" alt="Car" style="width:100%;height: 300px;">
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="column people">
          <div class="content">
            <img src="../../assets/images/gallery/image23.jpg" alt="Car" style="width:100%;height: 300px;">
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="column people">
          <div class="content">
            <img src="../../assets/images/gallery/image19.jpg" alt="Car" style="width:100%;height: 300px;">
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="column people">
          <div class="content">
            <img src="../../assets/images/gallery/image20.jpg" alt="Car" style="width:100%;height: 300px;">
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="column people">
          <div class="content">
            <img src="../../assets/images/gallery/image13.jpg" alt="Car" style="width:100%;height: 300px;">
          </div>
        </div>
      </div>
      <!-- END GRID -->
    </div>
  <!-- END MAIN -->
</div>
<app-footer></app-footer>
<app-menu></app-menu>