<app-sidemenu></app-sidemenu>
<div class="container-fluid" style="background-color: #e0e3e4;">
    <div class="row">
        <div class="img-fluid" class="col-sm-6" style="background-image: url('../../assets/images/itservice.png'); background-position: center;background-size: cover;">
            <h1 class="pull-right display-3 mt-3" id="headmobile" style="color: #25536a;">IT</h1>
            <h1 class="my-5 py-5 display-1 text-center" id="headdesk" style="color: #25536a;">IT Service</h1>
        </div>
        <div class="col-sm-6" style="background:#25536a;">
            <h1 class="pull-left display-3 mt-3" style="color:#e0e3e4;" id="headmobile">Service</h1>
            <div class="leaddiv">
                <p class="lead">Get an appealing and engaging website Design to leverage your E-commerce venture and
                    move ahead of the rest.</p>
            </div>
        </div>
    </div>
</div>

<div class="container" style="padding-bottom:5% ;padding-top: 5%;">
    <div class="row">
        <div class="col-sm-4 justify-content-center">
            <div class="small-4 medium-4 large-4 columns text-center">
                <i class="fa fa-shopping-cart fa-lg" aria-hidden="true" style="color: #25536a;
                font-size: 72px;padding: 2px;"></i>
            </div>
            <h2 style="text-align: center; font-size:25px;padding-top: 17px;color:#25536a;">Ecommerce Website & Development</h2>
            <p style="text-align: justify; font-size:15px;">CKS Solutions provides the best E-commerce development
                services to its customers for their specific business needs and requirements. Our experienced E-commerce
                developers work closely to manage complex projects of various categories and provide the best E-commerce
                development services.</p>
        </div>
        <div class="col-sm-4">
            <div class="small-4 medium-4 large-4 columns text-center">
                <i class="fa fa-mobile fa-lg" aria-hidden="true" style="color: #25536a;
                font-size: 72px;padding: 2px;"></i>
            </div>
            <h2 style="text-align: center; font-size:25px;padding-top: 17px;color:#25536a;">Mobile Application Design Development</h2>
            <p style="text-align: justify; font-size:15px;">At CKS Solutions, we develop personalized mobile
                applications on various platforms tailored to the specifications of our clients. From simple
                applications to complex solutions, we take a customer-centric approach to providing revenue generating
                and results-oriented solutions.</p>
        </div>
        <div class="col-sm-4">
            <div class="small-4 medium-4 large-4 columns text-center">
                <i class="fa fa-newspaper-o fa-lg" aria-hidden="true" style="color: #25536a;
                font-size: 72px;padding: 2px;"></i>
            </div>
            <h2 style="text-align: center; font-size:25px;padding-top: 17px;color:#25536a;">SEO and Digital <br>Marketing</h2>
            <p style="text-align: justify; font-size:15px;">CKS Solutions is a team of passionate digital marketing team
                of SEO / SEM experts who offer only premium, high-quality SEO and digital marketing solutions to help
                brands and companies achieve their business goals and give them a competitive edge.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 justify-content-center">
            <div class="small-4 medium-4 large-4 columns text-center">
                <i class="fa fa-link fa-lg" aria-hidden="true" style="color: #25536a;
                font-size: 72px;padding: 2px;"></i>
            </div>
            <h2 style="text-align: center; font-size:25px;padding-top: 17px;color:#25536a;">Digital Transformation</h2>
            <p style="text-align: justify; font-size:15px;">Although the four "megatrends" of cloud, big data, mobile
                and social technologies are clearly having a positive impact, industry watchers who believe that only a
                few early adopters have been able to transform their organizations with these technologies are mistaken.
                Digital transformation is occurring rapidly at a majority of public and private sector organizations.
            </p>
        </div>
        <div class="col-sm-4">
            <div class="small-4 medium-4 large-4 columns text-center">
                <i class="fa fa-cogs fa-lg" aria-hidden="true" style="color: #25536a;
                font-size: 72px;padding: 2px;"></i>
            </div>
            <h2 style="text-align: center; font-size:25px;padding-top: 17px;color:#25536a;">Automation</h2>
            <p style="text-align: justify; font-size:15px;">Automation is one thing that sets tongues wagging in the
                Indian information and technology (IT) industry. How much deeper will 'automation' penetrate the
                country's lucrative IT industry? Well, the $160 billion Indian IT industry has witnessed 'effective'
                implementation of automation.</p>
        </div>
        <div class="col-sm-4">
            <div class="small-4 medium-4 large-4 columns text-center">
                <i class="fa fa-exchange fa-lg" aria-hidden="true" style="color: #25536a;
                font-size: 72px;padding: 2px;"></i>
            </div>
            <h2 style="text-align: center; font-size:25px;padding-top: 17px;color:#25536a;">Data Migration</h2>
            <p style="text-align: justify; font-size:15px;">Businesses spend billions of dollars migrating data between
                information-intensive applications. Yet up to 75 percent of new systems fail to meet expectations, often
                because flaws in the migration process result in data that is not adequately validated for the intended
                task.</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="text-center">
                <h1 class="display-4" style="color:#25536a;font-weight:bolder;">Project Details</h1>
            </div>

            <div class="imageslider" style="width: 100%;">
                <ng-image-slider #nav [images]="imageObject" [infinite]="true" [autoSlide]="3"
                    [imageSize]="{ width: '50%', height: 300 }" slideImage="1"></ng-image-slider>
            </div>
        </div>
    </div>
</div>
<div class="container" style="padding-bottom:5% ;padding-top: 5%;">
    <div class="row">
        <div class="col-sm-12">
            <div class="text-center">
                <h1 class="display-4" style="color:#25536a;font-weight:bolder;">Our Unique Selling Points</h1>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-sm-4">
            <div style="width: 15%;float:left;padding-top: 10px;">
                <span class="rounded-circle"
                    style="margin: 0px 0px 65px 0px;width: 67px;height: 67px;line-height: 67px;background-color: #1e73be;border-style: solid;border-width: 1px;border-color: #1e73be;text-align: center;display: inline-block;"><i
                        class="far fa-compass" style="font-size: 22px;color: #fff;"></i></span>
            </div>
            <div style="width: 85%;float:right;padding-left: 15%;">
                <h3 style="color:#25536a;"><strong>Measurable results</strong> </h3>
                <p style="text-align: justify !important;font-size: 15px;">We use a results-based approach to web
                    design and development. By applying our vast experience and knowledge, in network and online
                    marketing, we ensure that your website delivers real value.</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div style="width: 15%;float:left;padding-top: 10px;">
                <span class="rounded-circle"
                    style="margin: 0px 0px 65px 0px;width: 67px;height: 67px;line-height: 67px;background-color: #1e73be;border-style: solid;border-width: 1px;border-color: #1e73be;text-align: center;display: inline-block;"><i
                        class="fa fa-headphones" style="font-size: 22px;color: #fff;"></i></span>
            </div>
            <div style="width: 85%;float:right;padding-left: 15%;">
                <h3 style="color:#25536a;"><strong>We will listen to you</strong> </h3>
                <p style="text-align: justify !important;font-size: 15px;">We're not here to tell you how you want
                    the website to run your business. We heard what you needed from the website, found out how your
                    business is doing, and best solutions for your business needs.</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div style="width: 15%;float:left;padding-top: 10px;">
                <span class="rounded-circle"
                    style="margin: 0px 0px 65px 0px;width: 67px;height: 67px;line-height: 67px;background-color: #1e73be;border-style: solid;border-width: 1px;border-color: #1e73be;text-align: center;display: inline-block;"><i
                        class="fa fa-cubes" style="font-size: 22px;color: #fff;"></i></span>
            </div>
            <div style="width: 85%;float:right;padding-left: 15%;">
                <h3 style="color:#25536a;"><strong>You get a website that delivers</strong> </h3>
                <p style="text-align: justify !important;font-size: 15px;">Our web team is made up of a designer,
                    programmer, and marketer, so your new website actually delivers the results you needed for your
                    business needs and responsibility.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div style="width: 15%;float:left;padding-top: 10px;">
                <span class="rounded-circle"
                    style="margin: 0px 0px 65px 0px;width: 67px;height: 67px;line-height: 67px;background-color: #dd9933;border-style: solid;border-width: 1px;border-color: #dd9933;text-align: center;display: inline-block;"><i
                        class="fa fa-sliders" style="font-size: 22px;color: #fff;"></i></span>
            </div>
            <div style="width: 85%;float:right;padding-left: 15%;">
                <h3 style="color:#25536a;"><strong>Integrity</strong> </h3>
                <p style="text-align: justify !important;font-size: 15px;">We are always approachable and just a
                    call away.
            </div>
        </div>
        <div class="col-sm-4">
            <div style="width: 15%;float:left;padding-top: 10px;">
                <span class="rounded-circle"
                    style="margin: 0px 0px 65px 0px;width: 67px;height: 67px;line-height: 67px;background-color: #dd9933;border-style: solid;border-width: 1px;border-color: #dd9933;text-align: center;display: inline-block;"><i
                        class="fa fa-desktop" style="font-size: 22px;color: #fff;"></i></span>
            </div>
            <div style="width: 85%;float:right;padding-left: 15%;">
                <h3 style="color:#25536a;"><strong>Responsiveness</strong> </h3>
                <p style="text-align: justify !important;font-size: 15px;">We always respond asap to our clients
                    business needs and problems providing them solutions well in time.</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div style="width: 15%;float:left;padding-top: 10px;">
                <span class="rounded-circle"
                    style="margin: 0px 0px 65px 0px;width: 67px;height: 67px;line-height: 67px;background-color: #dd9933;border-style: solid;border-width: 1px;border-color: #dd9933;text-align: center;display: inline-block;"><i
                        class="fa fa-gift" style="font-size: 22px;color: #fff;"></i></span>
            </div>
            <div style="width: 85%;float:right;padding-left: 15%;">
                <h3 style="color:#25536a;"><strong>Long term relationship </strong> </h3>
                <p style="text-align: justify !important;font-size: 15px;">We offer our customers solid and
                    attractive solutions to build long term business relationships with our valued customers.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div style="width: 15%;float:left;padding-top: 10px;">
                <span class="rounded-circle"
                    style="margin: 0px 0px 65px 0px;width: 67px;height: 67px;line-height: 67px;background-color: #8224e3;border-style: solid;border-width: 1px;border-color: #8224e3;text-align: center;display: inline-block;"><i
                        class="fas fa-microphone" style="font-size: 22px;color: #fff;"></i></span>
            </div>
            <div style="width: 85%;float:right;padding-left: 15%;">
                <h3 style="color:#25536a;"><strong>Easily Approachable</strong> </h3>
                <p style="text-align: justify !important;font-size: 15px;">We are always approachable and just a
                    call away.</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div style="width: 15%;float:left;padding-top: 10px;">
                <span class="rounded-circle"
                    style="margin: 0px 0px 65px 0px;width: 67px;height: 67px;line-height: 67px;background-color: #8224e3;border-style: solid;border-width: 1px;border-color: #8224e3;text-align: center;display: inline-block;"><i
                        class="far fa-lightbulb" style="font-size: 22px;color: #fff;"></i></span>
            </div>
            <div style="width: 85%;float:right;padding-left: 15%;">
                <h3 style="color:#25536a;"><strong>Embrace New Technology</strong> </h3>
                <p style="text-align: justify !important;font-size: 15px;">We are constantly refreshing our
                    technical knowledge base so our clients gets the latest technology that suits the business
                    needs.</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div style="width: 15%;float:left;padding-top: 10px;">
                <span class="rounded-circle"
                    style="margin: 0px 0px 65px 0px;width: 67px;height: 67px;line-height: 67px;background-color: #8224e3;border-style: solid;border-width: 1px;border-color: #8224e3;text-align: center;display: inline-block;"><i
                        class="fas fa-briefcase" style="font-size: 22px;color: #fff;"></i></span>
            </div>
            <div style="width: 85%;float:right;padding-left: 15%;">
                <h3 style="color:#25536a;"><strong>complete business solution</strong> </h3>
                <p style="text-align: justify !important;font-size: 15px;">We prepare a complete solution for your
                    company that covers everything from branding, online marketing, social media and networking.</p>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
<app-menu></app-menu>