<div class="text-center mt-5">
    <h1>Career Master</h1>
</div>
<div class="card-deck mt-5">
    <div class="card bg-danger">
        <div class="card-body ">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <h3 class="text-light display-3">{{post}}</h3>
                    <p class="card-text text-light">Number of Job Post</p>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <i class="fas fa-people-carry mt-3 ml-2" style="font-size: 70px;"></i>
                </div>
            </div>
            
        </div>
    </div>
    <div class="card bg-success">
        <div class="card-body ">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <h3 class="text-light display-3">{{name}}</h3>
                    <p class="card-text text-light">Number of Job Name</p>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <i class="fas fa-people-carry mt-3 ml-2" style="font-size: 70px;"></i>
                </div>
            </div>
            
        </div>
    </div>
    <div class="card bg-info">
        <div class="card-body ">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <h3 class="text-light display-3">{{apply}}</h3>
                    <p class="card-text text-light">Number of Apllied Persons</p>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <i class="fas fa-people-carry mt-3 ml-2" style="font-size: 70px;"></i>
                </div>
            </div>
            
        </div>
    </div>
</div>